.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li
          = link_to "Popular PROTO", "#", class: "btn-index btn-success"
        %li
          = link_to "Newest PROTO", "#", class: "btn-index btn-info"
      = link_to "VIEW TAGS", tags_path, class: "btn btn-default col-lg-1"
